body{
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

*{
    font-family: Sans;
}

@font-face{
    font-family: Print;
    src: url(font/PRINC___.TTF);
}

@font-face{
    font-family: Olga;
    src: url(font/Olga.ttf);
}

@font-face{
    font-family: Sans;
    src: url(font/EncodeSans-Regular.ttf);
}

.navbar{
    background-color: rgb(255, 102, 0);
}

.nav-link,
.navbar-brand{
    color: #fff;
    cursor: pointer;
}

.nav-link{
    margin-right: 1em;
}

.nav-link :hover{
    color: #000;
}

.navbar-collapse{
    justify-content: flex-end;
}

.header{
    background-image: url(img/branco.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(158, 120, 120, 0);
}

.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}
 .background{
     background: #FFFF;
     padding: 4em 0;
 }

 .servicos{
     color: #5e5e55;
     padding: 0 180px;
 }


.servicos .card {
    background:none;
    border: none;
}


.page-footer{
    background-color:rgb(77, 77, 77) ;
    color: #ccc;
    padding: 60px 0 30px;
    font-family: Print;
}

.footer-cpyright{
    color: #666;
    padding: 40px 0;
}

a{
	color:white;
}

#clientes{
    background: #e6e7e9;
}

#nossosclientes{
    height: 120px;
}

#nossosservicos{
    top: 100px;
}

#clientes .card{
    background: none;
    border: none;
}

#clientes .card-columns{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

#clientes, h1 {
    text-align: center;
    color: orange;
    font-weight: bold;
    font-family: Sans;
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}

.carousel {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}